.foodtile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.foodtile-name{
    max-width: 200px;
    text-align: center;
    margin: 12px 0;
}

.foodtile-image{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.foodtile:hover {
    transform: scale(1.10); 
  }
